body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  text-align: center;
  width: 90%;
  max-width: 400px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: gold;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

#error {
  color: red;
  margin-top: 10px;
}

.evento-container {
  padding: 20px;
}

.card {
  background: #1c1c1c;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

.contador {
  background: #222;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
}

.extra-item {
  background: #2a2a2a;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.extra-item button {
  background: gold;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 8px;
  font-weight: bold;
}

.subtitulo {
  color: #bbb;
  margin-bottom: 20px;
}

.login-container h1 {
  font-size: 26px;
  margin-bottom: 5px;
}

