body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  text-align: center;
  width: 90%;
  max-width: 400px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: gold;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

#error {
  color: red;
  margin-top: 10px;
}
